/* General Font Style */
* {
    font-family: FontAwesome, sans-serif;
    font-size: 13px;
}

/* Waybar Styling */
window#waybar {
    background-color: rgba(30, 30, 30, 0.9);
    color: #ffffff;
    transition: background-color .5s;
}

/* Hidden state */
window#waybar.hidden {
    opacity: 0.2;
}

/* Button Styles */
button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* Modules Styling */

#clock,
#network,
#pulseaudio,
#tray,
#scratchpad,
#mpd {
    padding: 5 10px;
    background-color: transparent; /* Make all modules transparent */
}

/* Margin for window and workspaces */
#window,
#workspaces {
    margin: 0 4px;
}

/* Margin adjustments for first and last child */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* Hover effects for specific modules */
#pulseaudio:hover,
#network:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#tray:hover {
    background-color: transparent; /* Transparent on hover */
}

/* Hover effects for clock */
#clock {
    background-color: transparent;
    color: #ffffff;
}

#power-profiles-daemon {
    padding-right: 15px;
}

